<section class="relative overflow-hidden min-h-screen flex items-center">
  <!-- Fondo -->
  <app-bg-interactive class="absolute inset-0 -z-10"></app-bg-interactive>

  <!-- Contenido -->
  <div class="relative z-10 max-w-5xl mx-auto px-4 text-center">
    <h1 class="font-display text-white leading-none tracking-tight
           text-[clamp(2rem,10vw,10rem)]">
      Lindsay
    </h1>
    <p class="mt-6 text-white text-lg md:text-3xl opacity-90">
      <strong>Diseñando y programando experiencias</strong>
    </p>
    <p class="mt-2 text-white text-lg md:text-2xl opacity-90">
      Entre pixeles y líneas de código, cada proyecto se convierte en
      <br> una experiencia pensada para conectar, funcionar y emocionar.
    </p>
    <a class="btn btn-primary border-0 rounded-full text-2xl md:text-2xl
         h-12 md:h-14 px-12 md:px-10
         focus:outline-none focus:ring-0" 
         style="margin-top: 22px;"
  routerLink="/sobre-mi">
  Descarga mi CV
</a>

  </div>
</section>
